[user]
    name = James Harris
    email = james.harris@icecave.com.au

[core]
    autocrlf = input
    excludesfile = ~/.gitignore.global

[help]
    autocorrect = 1

[color]
    ui = auto

[push]
    default = simple
