[user]
    name = James Harris
    email = james.harris@icecave.com.au

[core]
    autocrlf = input
    excludesfile = ~/.gitignore.global
    whitespace = trailing-space,space-before-tab,tab-in-indent,tabwidth=4

[diff]
    renames = true

[help]
    autocorrect = 20

[color]
    ui = auto

[format]
    pretty = %C(dim)%ci%C(reset) %C(dim)%p%C(reset) %C(cyan dim)%h%C(reset)%C(cyan)%d%C(reset) %C(yellow)|%C(reset) %s %C(dim)by %an %ar.%C(reset)

[push]
    default = simple
