[user]
    name = James Harris
    email = james.harris@icecave.com.au

[core]
    autocrlf = input
    excludesfile = ~/.gitignore.global

[help]
    autocorrect = 20

[color]
    ui = auto

[format]
    pretty = %C(magenta dim)%h%C(reset) %C(blue)%cn%C(reset) :%C(auto)%d%C(reset) %s %C(blue dim)(%cr)%C(reset) %C(dim)[%p]%C(reset)

[push]
    default = simple
